### Python Basics

<ul><li><h4>Types of Cells
        
    Markdown Cells
    
    Code Cell
    
    
    
    
</h4></li></ul>

In [13]:
print("This is a code cell!")

This is a code cell!

<h3>This is a markdown cell.</h3>

____________________________________________________________________

<h4>Print Statement</h4>

In [16]:
print("Flash", "Batman", "Superman")

Flash Batman Superman

<h4>Specifying Seperator Keyword

In [17]:
print("Flash", "Batman", "Superman", sep="%")

Flash%Batman%Superman

<h4>Continuing Printing (Key Value Pair Modification), End Keyword

In [18]:
print("Hello")
print("World")

Hello
World

__________________________________________________________________

In [19]:
print("Hello", end="\n")
print("World")

Hello
World

__________________________________________________________________

In [20]:
print("Hello", end="")
print("World")

HelloWorld

<h4>End Keyword with seperators

In [21]:
print("Hello", "World", "!", sep="@", end="      ")
print("First Program!")

Hello@World@!      First Program!

In [22]:
print("Hello", "World", "!", sep="*", end="")
print("First Program!")

Hello*World*!First Program!

In [23]:
print("Hello", "World", "!", sep="*", end="\n")
print("First Program!")

Hello*World*!
First Program!

__________________________________________________________________

<h4>Format Function

In [25]:
print("This is a {}".format("Python Session"))

This is a Python Session

__________________________________________________________________

<h5>      Multiple Format Functions

In [28]:
print("Email : {}, Password : {}".format("atrayan33@gmail.com", "12345"))

Email : atrayan33@gmail.com, Password : 12345

__________________________________________________________________

In [29]:
print("Email : {0}, Password : {1}".format("atrayan33@gmail.com", "12345"))

Email : atrayan33@gmail.com, Password : 12345

In [30]:
print("Email : {1}, Password : {0}".format("atrayan33@gmail.com", "12345"))

Email : 12345, Password : atrayan33@gmail.com

In [32]:
##Reversing Indexes of Format Function

__________________________________________________________________

<h4>Key Value Pair Placeholderss with Format Statement

In [33]:
print("Email : {em}, Password : {pw}".format(em="atrayan33@gmail.com", pw="12345"))

Email : atrayan33@gmail.com, Password : 12345

__________________________________________________________________

<h3>Print Function Manipulation

In [34]:
print("Hello "*5)

Hello Hello Hello Hello Hello

In [35]:
##Seperators can also be specified here.

__________________________________________________________________

<h4>Variables

In [36]:
x =25;

In [37]:
##Data type is not required

__________________________________________________________________

<b>User Input

In [38]:
x = input("Enter a Value : ")

Enter a Value : 500

In [39]:
print(x)

500

In [40]:
x

'500'

__________________________________________________________________

<h4>Type Function

In [41]:
type(x)

str

__________________________________________________________________

<h5>Type Casting

In [42]:
y = int(input("Enter a value : "))

Enter a value : 700

In [43]:
##Checking the type again!

In [44]:
type(y)

int

_______________________________________________________________

<i>Errors in type casting

In [45]:
z = int(input("Enter a value : "))

Enter a value : hi

ValueError: invalid literal for int() with base 10: 'hi'

____________________________

<b> Float Variables

In [47]:
a = 37.95

In [48]:
type(a)

float

In [50]:
b = True

In [51]:
type(b)

bool

_________________

<b> If-else statements

In [55]:
x = 50

if x > 100:
    print("More than 100")
    print("Inside if block")
else:
    print("Less than 100")
    print("Inside else block")
    
    
print("Outside of the Block")

Less than 100
Inside else block
Outside of the Block

__________________________________________________________________

In [57]:
x = 50

if x < 100:
    print("Less than 100")
    print("Inside if block")
    if x == 50:
        print("Its 50!!!")
else:
    print("More than 100")
    print("Inside else block")
    
    
print("Outside of the Block")

Less than 100
Inside if block
Its 50!!!
Outside of the Block

__________________

<b> elif statements

In [59]:
if x > 100:
    print("More than 100")
elif x < 10:
    print("Less than 100")
else:
    print("In between 10 to 100")

In between 10 to 100

_________________

### Python Loops

<b>While Loops

while condition:
    
    statements

In [61]:
y = 1

num_table = 15

while y <= 10:
    print("{} x {} = {}".format(num_table, y, num_table*y))
    
    y += 1

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

__________________________

In [62]:
y = 1

num_table = 15

while True:
    
    print("{} x {} = {}".format(num_table, y, num_table*y))
    
    y += 1
    
    if y == 11:
        break

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [63]:
##Usage of break statement

________________

<b>For Loop

for <a style="color:red">item</a> in <a style="color:green">iterable</a>:

    statements

In [64]:
for i in [10,24,56,11]:
    
    print(i)

10
24
56
11

_________________

In [65]:
for i in "hello world":
    
    print(i)

h
e
l
l
o

w
o
r
l
d

____________

In [66]:
num_table = 17

for i in range(1,11):
    print("{} x {} = {}".format(num_table, y, num_table*i))

17 x 11 = 17
17 x 11 = 34
17 x 11 = 51
17 x 11 = 68
17 x 11 = 85
17 x 11 = 102
17 x 11 = 119
17 x 11 = 136
17 x 11 = 153
17 x 11 = 170

____________

__________________________________________________________________

<center>Day 1</center>